{% include 'header.html' %}
{% load static %}
        <section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Appointment</h1> 

                        <ul class="breadcrumb"> 
                            <li><a href="#">Home</a></li>
                            <li>Appointment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_appointment_wrapper as_padderTop80 as_padderBottom80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="as_heading as_heading_center text-center">Make Your Appointment To Discuss Any Problem.</h2>                        <div class="as_journal_box_wrapper">
                            <form method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <h3 class="text-center as_subheading">Appointment Form</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>name</label>
                                    <div class="form-group">
                                        <input required name="fname" class="form-control" type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>email</label>
                                    <div class="form-group">
                                        <input required name="femail" class="form-control" type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>mobile number</label>
                                    
                                    <div class="form-group">
                                        <input class="form-control" required name="fmobile" type="text" placeholder="Mobile Number" onkeypress="return event.charCode >= 45 &amp;&amp; event.charCode <= 57 &amp;&amp; event.charCode!=47">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>gender</label>
                                    <div class="form-group as_select_box">
                                        <select  name="fgender" class="form-control" data-placeholder="Gender">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div> 
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>time of day</label>
                                    <div class="form-group as_select_box" data-placeholder="Time of day">
                                        <select name="time"  class="form-control">
                                            <option value="1"> AM </option>
                                            <option value="2"> PM</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>way to reach</label>
                                    <div class="form-group as_select_box" data-placeholder="Way to reach">
                                        <select name="freach"  class="form-control">
                                            <option value="1">Phone </option>
                                            <option value="2">Email</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Preferred  Date</label>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input class="form-control" required name="fdate" type="date" placeholder="Date">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Preferred Time</label>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input class="form-control" required name="ftime" type="time" placeholder="Hrs">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>address</label>
                                    <div class="form-group">
                                        <textarea required name="faddress" placeholder="Address" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Reason for appointment</label>
                                    <div class="form-group">
                                        <textarea required name="freason" placeholder="Message" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center as_padderTop20">
                                    <input type="submit" name = "new" class="as_btn"> 
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="as_whychoose_wrapper as_padderTop80 as_padderBottom50">
            <div class="container">
                <div class="row as_verticle_center">
                    <div class="col-lg-3 col-md-12">
                        <h1 class="as_heading">Why Choose Us</h1>

                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="as_whychoose_box text-center">
                                    <span class="as_number"><span><span data-from="0" data-to="82"
                                        data-speed="5000">20</span>+</span><img src="{% static 'assets/images/svg/shape.svg' %}" alt=""></span>
                                    <h4>Success Horoscope</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="as_whychoose_box text-center">
                                    <span class="as_number"><span><span data-from="0" data-to="96"
                                        data-speed="5000">96</span>+</span><img src="{% static 'assets/images/svg/shape.svg' %}" alt=""></span>
                                    <h4>Guaranteed Success</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="as_whychoose_box text-center">
                                    <span class="as_number"><span><span data-from="0" data-to="50"
                                        data-speed="5000">50</span>+</span><img src="{% static 'assets/images/svg/shape.svg' %}" alt=""></span>
                                    <h4>Trust by thousands of clients</h4>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="as_customer_wrapper as_padderBottom80 as_padderTop80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="as_heading as_heading_center">What Our Customers Say</h1>
                   

                        <div class="row as_customer_slider">
                            {% for i in test %}
                            <div class="col-lg-6 col-md-6">
                                <div class="as_customer_box text-center">
                                    <span class="as_customer_img">
                                        <img src="{{ i.image.url }}" style="width: 150px; height: 150px;" alt="">
                                        <span><img src="{% static 'assets/images/svg/quote1.svg' %}" alt=""></span>
                                    </span>
                                    <p class="as_margin0">{{ i.detail }}</p>
                                    <h3 >{{ i.name }}</h3>
                                    <p class="as_margin0">{{ i.post }}</p>
                                </div>
                            </div>
                          {% endfor %}
                            
                        </div>
                    </div>

                </div>
            </div>
        </section>
          
{% include 'footer.html' %}