{% include 'header.html' %}
{% load static %}
        <section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 style="color: #c20000">Contact</h1> 

                        <ul class="breadcrumb"> 
                            <li><a  style="color:#c20000" href="{% url 'home' %}">Home</a></li>
                            <li style="color:#c20000"  >Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_contact_section as_padderTop80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="as_contact_info">
                            <h1 class="as_heading" style="color:#FF7010"  >Contact Information</h1>
                            

                            <div class="row">
                                <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12">
                                    <div class="as_info_box" style="color: #ff7010" >
                                        <span class="as_icon"><img src="{% static 'assets/images/svg/call1.svg' %}" alt=""></span>
                                        <div class="as_info">
                                            <h5>Call Us</h5>
                                            <p class="as_margin0 as_font14">+ (91) 9977999075</p>
<!--                                            <p class="as_margin0 as_font14">+ (91) 9826296496</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12 col-md-6 col-sm-6 col-xs-12">
                                    <div class="as_info_box" style="color: #ff7010" >
                                        <span class="as_icon"><img src="{% static 'assets/images/svg/mail.svg' %}" alt=""></span>
                                        <div class="as_info">
                                            <h5>Mail Us</h5>
                                            <p class="as_margin0 as_font14"><a href="javascript:;"> info.ujjainastrologer@gmail.com</a></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12" >
                        <div class="as_contact_form">
                            <h4 class="as_subheading">Have A Question?</h4>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input type="text" required name="nam"  class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" required name="email"  class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea required name="msg" class="form-control"></textarea>
                                </div>
                                <input type="submit" name = "new" class="as_btn"> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_map_section">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58688.528381819735!2d75.76220089480228!3d23.168994778919178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39637469de00ff23%3A0x7f82abdf7899d412!2sUjjain%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1657816048905!5m2!1sen!2sin" width="1900" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
<br><br>
{% include 'footer.html' %}