{% load static %}
<section class="as_footer_wrapper as_padderTop70"style="margin-top:-100px;background-color:#FFA500" >
    <div class="container" >
        

<div class="as_footer_inner as_padderTop50 as_padderBottom80" >
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="as_footer_widget">
            <div class="as_footer_logo">
                <a href="{% url 'home' %}"><img src="{% static 'assets/images/log1.png' %}" style="width: 30%;" alt=""></a>
            </div>
            <p style="color: #000" >Talk to Astrologer on call and get answers to all your worries by seeing the future life through Astrology Kundli Predictions from the best Astrologers from India. </p>

            <div class="as_share_box">
                <p style="color: #000" >Follow Us</p>
                <ul>
                    <li><a  href="javascript:;"><img src="{% static 'assets/images/svg/facebook.svg' %}" alt=""></a></li>
                    <li><a href="javascript:;"><img src="{% static 'assets/images/svg/twitter.svg' %}" alt=""></a></li>
                    <li><a href="javascript:;"><img src="{% static 'assets/images/svg/google.svg' %}" alt=""></a></li>
                    <li><a href="javascript:;"><img src="{% static 'assets/images/svg/youtube.svg' %}" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="as_footer_widget">
           <h3 class="as_footer_heading" style="color: #000" >Our Services</h3>

           <ul>
                {% for i in ser %}
               <li><a style="color: #000" href="{% url 'services_single' i.id %}"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="8" height="12" viewBox="0 0 8 12"> <path d="M8.000,5.998 L-0.002,11.997 L1.292,5.998 L-0.002,-0.001 L8.000,5.998 ZM1.265,9.924 L6.502,5.998 L1.265,2.071 L2.112,5.998 L1.265,9.924 ZM5.451,5.998 L2.496,8.213 L2.974,5.998 L2.496,3.783 L5.451,5.998 Z" class="cls-1"/> </svg></span>{{ i.name }}</a></li>
               {% endfor %}
           </ul>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="as_footer_widget">
           <h3 class="as_footer_heading" style="color: #000" >Quick Links</h3>

           <ul>
               <li><a style="color: #000"  href="{% url 'about' %}"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="8" height="12" viewBox="0 0 8 12"> <path d="M8.000,5.998 L-0.002,11.997 L1.292,5.998 L-0.002,-0.001 L8.000,5.998 ZM1.265,9.924 L6.502,5.998 L1.265,2.071 L2.112,5.998 L1.265,9.924 ZM5.451,5.998 L2.496,8.213 L2.974,5.998 L2.496,3.783 L5.451,5.998 Z" class="cls-1"/> </svg></span> About Us</a></li>
               <!-- <li><a href=""><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="8" height="12" viewBox="0 0 8 12"> <path d="M8.000,5.998 L-0.002,11.997 L1.292,5.998 L-0.002,-0.001 L8.000,5.998 ZM1.265,9.924 L6.502,5.998 L1.265,2.071 L2.112,5.998 L1.265,9.924 ZM5.451,5.998 L2.496,8.213 L2.974,5.998 L2.496,3.783 L5.451,5.998 Z" class="cls-1"/> </svg></span> Blog</a></li> -->
               <li><a style="color: #000" href="{% url 'services' %}"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="8" height="12" viewBox="0 0 8 12"> <path d="M8.000,5.998 L-0.002,11.997 L1.292,5.998 L-0.002,-0.001 L8.000,5.998 ZM1.265,9.924 L6.502,5.998 L1.265,2.071 L2.112,5.998 L1.265,9.924 ZM5.451,5.998 L2.496,8.213 L2.974,5.998 L2.496,3.783 L5.451,5.998 Z" class="cls-1"/> </svg></span> Astrologers</a></li>
               <li><a style="color: #000" href="{% url 'appointment' %}"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="8" height="12" viewBox="0 0 8 12"> <path d="M8.000,5.998 L-0.002,11.997 L1.292,5.998 L-0.002,-0.001 L8.000,5.998 ZM1.265,9.924 L6.502,5.998 L1.265,2.071 L2.112,5.998 L1.265,9.924 ZM5.451,5.998 L2.496,8.213 L2.974,5.998 L2.496,3.783 L5.451,5.998 Z" class="cls-1"/> </svg></span> Appointment</a></li>
               <li><a style="color: #000" href="{% url 'contact' %}"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="8" height="12" viewBox="0 0 8 12"> <path d="M8.000,5.998 L-0.002,11.997 L1.292,5.998 L-0.002,-0.001 L8.000,5.998 ZM1.265,9.924 L6.502,5.998 L1.265,2.071 L2.112,5.998 L1.265,9.924 ZM5.451,5.998 L2.496,8.213 L2.974,5.998 L2.496,3.783 L5.451,5.998 Z" class="cls-1"/> </svg></span> Contact Us</a></li>
           </ul>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="as_footer_widget">
           <h3 class="as_footer_heading" style="color: #000" >Contact Us</h3>

           <ul class="as_contact_list">
               <li>
                   <img src="{% static 'assets/images/svg/map.svg' %}" alt="">
                    <p style="color: #000" >Hatkeswar vihar ujjain,Nkakchhatr jyotish kendr
                    </p>
                </li>
               <li>
                   <img src="{% static 'assets/images/svg/address.svg' %}" alt="">
                    <p>
                        <a style="color: #000" href="javascript:;">info.ujjainastrologer@gmail.com</a>

                    </p> 
                </li> 
               <li>
                   <img src="{% static 'assets/images/svg/call.svg' %}" alt="">
                    <p>
                        <a style="color: #000" href="javascript:;">+ (91) 9977999075</a><br>

                    </p>
                </li>
           </ul>
        </div>
    </div>
    </div>
    
</div>
</div>
</section>

</div>


<!-- javascript -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/countto/jquery.countTo.js' %}"></script>
<script src="{% static 'asset/js/plugin/airdatepicker/datepicker.min.js' %}"></script>
<script src="{% static 'asset/js/plugin/airdatepicker/i18n/datepicker.en.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>  




</body>
<script type="text/javascript">
    function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en',includedLanguages: "en,bn,gu,hi,kn,ms,ml,mr,ne,pa,sd,ta,te" , layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://webreader.naturalreaders.com/nr-webreader.js" defer></script>

   <!-- Chatra {literal} -->
<script>
    (function(d, w, c) {
        w.ChatraID = 'CeACDJyxBJQvh2dH2';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->
</html>