<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Home || कालसर्प दोष पुजा उज्जैन कॉल 9977999075| Kal Sarp puja ujjain | कालसर्प दोष पूजा उज्जैन | मंगल दोष
        पूजा उज्जैन |
        mangal dosh puja ujjain</title>
	<meta name="title" content="ujjainastrologer">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
			<link rel="shortcut icon" href="https://ujjainastrologer.com/static/assets/images/log1.png" type="image/x-icon" />
		<link rel="apple-touch-icon" sizes="180x180" href="https://ujjainastrologer.com/static/assets/images/log1.png">
		<link rel="alternate" type="application/rss+xml" title="Ujjain astrologer about" href="https://ujjainastrologer.com/about" />
	<link rel="alternate" type="application/atom+xml" title="Puja Ujjain services" href="https://ujjainastrologer.com/services" />

    <!-- stylesheet -->

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//fonts.gstatic.com' />
    <link rel='dns-prefetch' href='//www.google-analytics.com' />
    <link rel='preload' as='image' href='https://ujjainastrologer.com/static/assets/images/log1.png' type='image/png'>
 
    
    <!-- Search Engine Optimization by Rank Math - https://s.rankmath.com/home -->
    <title>ujjainastrologer | Services</title>


    <link rel="icon" href="{% static 'assets/images/log1.png' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/plugin/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/plugin/airdatepicker/datepicker.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <!-- Chatra {literal} -->

    <script>$('.as_toggle').on('click',function(){
        $(this).parent().toggleClass('menu_open');
        $(this).parent().find('.as_menu ul  li .as_submenu').parent().addClass('as_submenu_li')
    })
    $('.as_body_overlay').on('click',function(){
        $('.as_menu_wrapper').removeClass('menu_open');
    })
    // responsive menu
    $(document).on('click','.as_menu > ul > li >a',function(){
      // console.log($(this).closest('li').find('ul.submenu'))
      $('.as_menu >ul > li>.as_submenu').removeClass('active');
      $(this).closest('li').find('>ul.as_submenu').addClass('active')
    })
    $(document).on('click','.as_menu > ul > li > ul > li >a',function(){
      // console.log($(this).closest('li').find('ul.submenu'))
      $(this).closest('li').find('>ul.as_submenu').toggleClass('active')
    })
    </script>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
</head>
<body style="background-color:#F2F2F2" >

    <div class="as_main_wrapper">
        <section class="as_header_wrapper" style="background-color:#FFA500" >
            <div class="as_logo">
                <a href="javascript:;"><img style="width: 100px;height:100px" src="{% static 'assets/images/log1.png' %}" alt=""></a>
            </div>
            <div class="as_header_detail">
                <div class="as_info_detail">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <div class="as_infobox" style="color: #000">
                                    <span class="as_infoicon">
                                        <img src="{% static 'assets/images/svg/headphone.svg' %}" alt="">
                                    </span>
                                <span style="color: #000" class="as_orange">Talk to our Astrogers -</span>+91 9977999075
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="as_infobox" style="color: #000" >
                                    <span class="as_infoicon">
                                        <img src="{% static 'assets/images/svg/mail1.svg' %}" alt="">
                                    </span>
                                <span style="color: #000" class="as_orange">Talk to our Astrogers -</span>info.ujjainastrologer@gmail.com
                                </div>
                            </a>
                        </li>
                    </ul>
                    
                    <div class="as_right_info">
                        
                        <a href="javascript:;">
                            <div class="as_infobox" data-bs-toggle="modal" data-bs-target="#as_login">
                                <div id="google_translate_element"></div>
                                
                                
                            </div>
                        </a>
                        <div class="as_cart">
                           

                            <div class="as_cart_box">
								<div class="as_cart_list">
									<ul>
										<li>
											<div class="as_cart_img">
												<img src="{% static 'assets/images/prod1_d.jpg" class="img-responsive">
											</div>
											<div class="as_cart_info">
												<a href="#">Yellow Sapphire</a>
												<p>1 X $20.00</p>
												<a href="javascript:;" class="as_cart_remove"><i class="fa fa-trash"></i></a>
											</div>
										</li>
										<li>
											<div class="as_cart_img">
												<img src="{% static 'assets/images/prod2_D.jpg" class="img-responsive">
											</div>
											<div class="as_cart_info">
												<a href="#">yantra</a>
												<p>1 X $10.00</p>
												<a href="javascript:;" class="as_cart_remove"><i class="fa fa-trash"></i></a>
											</div>
										</li>
									</ul>
								</div>
								<div class="as_cart_total">
									<p>total<span>$30.00</span></p>
								</div>
								<div class="as_cart_btn">
									<button type="button" class="as_btn">view cart</button>
									<button type="button" class="as_btn">checkout</button>
								</div>
							</div>
                        </div>
                    </div>
                </div>
                <div class="as_menu_wrapper ">
                    <span class="as_toggle bg_overlay">
                        <img src="{% static 'assets/images/svg/menu.svg' %}" alt="">
                    </span>
                    <div class="as_menu">
                        <ul>
                            <li><a style="color: #000" href="{% url 'home' %}" class="active">home</a></li>
                            <li><a style="color: #000" href="{% url 'about' %}">about</a></li>
                            <li><a style="color: #000" href="{% url 'services' %}">services</a></li>
                           
                            <li><a style="color: #000" href="{% url 'appointment' %}">appointment</a></li>
                            <li><a style="color: #000" href="{% url 'shop' %}">shop</a>
                            </li>
                        
                            <li><a style="color: #000" href="{% url 'contact' %}">contact</a></li>
                        </ul>
                    </div>
        
                </div>
                <span class="as_body_overlay"></span>
            </div>  
        </section> 