{% include 'header.html' %}
{% load static %}
        <section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 style="color:#c20000" >Service Details</h1> 

                        <ul class="breadcrumb"> 
                            <li><a href="#" style="color:#c20000"  >Home</a></li>
                            <li style="color:#c20000"  >Service Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_servicedetail_wrapper as_padderBottom80 as_padderTop80">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-12">
                        <div class="as_service_detail_inner">
                            <img src="{{ sersingle.image.url }}" alt="" class="img-responsive">

                            <h1 class="as_heading">{{ sersingle.name }}</h1>

                            <p class="as_font14">{{ sersingle.detail }}
                            </p>
                            <p class="as_font14">{{ sersingle.discription|safe }}</p>

                            <iframe width="320" height="539" src="{{ sersingle.video }}" title="Chandal dosh pooja" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
                        </div> 
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-12">
                        <div class="as_service_sidebar">
                            <div class="as_service_widget as_padderBottom40">
                                <h3 class="as_heading">More Services</h3>
                                {% for i in ser %}
                                <ul>
                                    <li>
                                        <a href="{% url 'services_single' i.id %}">
                                            <span>{{ i.name }}</span>
                                        </a>
                                    </li>
                                   
                                </ul>
                                {% endfor %}
                            </div> 
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
       <br><br>
          
      {% include 'footer.html' %}