{% include 'header.html' %}
{% load static %}
        <section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 style="font-size:35px" >Services</h1>

                        <ul class="breadcrumb"> 
                            <li><a href="#">Home</a></li>
                            <li>services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="as_service_wrapper as_padderTop50 as_padderBottom80">
            <div class="container">
                <div class="row">
                    {% for i in serm %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="as_service_box text-center">
                            <span class="as_icon">
                                <img src="{{ i.image.url }}" alt="">                                   
                            </span>

                            <h4 class="as_subheading">{{ i.name }}</h4>
                            <p>{{ i.detail }}</p>
                            <a href="{% url 'services_single' i.id %}" class="as_link">read more</a>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </section>
    
      <section class="as_whychoose_wrapper as_padderTop80 as_padderBottom50">
            <div class="container">
                <div class="row as_verticle_center">
                    <div class="col-lg-3 col-md-12">
                        <h1 class="as_heading">Why Choose Us</h1>

                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="as_whychoose_box text-center">
                                    <span class="as_number"><span><span data-from="0" data-to="82"
                                        data-speed="5000">20</span>+</span><img src="{% static 'assets/images/svg/shape.svg' %}" alt=""></span>
                                    <h4>Success Horoscope</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="as_whychoose_box text-center">
                                    <span class="as_number"><span><span data-from="0" data-to="96"
                                        data-speed="5000">96</span>+</span><img src="{% static 'assets/images/svg/shape.svg' %}" alt=""></span>
                                    <h4>Guaranteed Success</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="as_whychoose_box text-center">
                                    <span class="as_number"><span><span data-from="0" data-to="50"
                                        data-speed="5000">50</span>+</span><img src="{% static 'assets/images/svg/shape.svg' %}" alt=""></span>
                                    <h4>Trust by thousands of clients</h4>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="as_customer_wrapper as_padderBottom80 as_padderTop80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="as_heading as_heading_center">What Our Customers Say</h1>
                   

                        <div class="row as_customer_slider">
                            {% for i in test %}
                            <div class="col-lg-6 col-md-6">
                                <div class="as_customer_box text-center">
                                    <span class="as_customer_img">
                                        <img src="{{ i.image.url }}" style="width: 150px; height: 150px;" alt="">
                                        <span><img src="{% static 'assets/images/svg/quote1.svg' %}" alt=""></span>
                                    </span>
                                    <p class="as_margin0">{{ i.detail }}</p>
                                    <h3 >{{ i.name }}</h3>
                                    <p class="as_margin0">{{ i.post }}</p>
                                </div>
                            </div>
                          {% endfor %}
                            
                        </div>
                    </div>

                </div>
            </div>
        </section>

        {% include 'footer.html' %}
                    